{
    "presets": [
        "razzle/babel"
    ],
    "plugins": [
        "transform-export-extensions",
        "babel-plugin-emotion",
        "inline-react-svg",
        "polished",
        "lodash",
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "common": "./src/common",
                    "components": "./src/components",
                    "pages": "./src/pages",
                    "media": "./src/media",
                    "@fortawesome/fontawesome-pro-solid/faHourGlassEnd": "src/media/faIcons/faHourGlassEnd",
                    "@fortawesome/fontawesome-pro-solid/faHourGlassHalf": "src/media/faIcons/faHourGlassHalf"
                }
            }
        ]
    ]
}