{
  "extends": ["react-app"],
  "rules": {
    "semi": [1, "never"],
    "quotes": [2, "single"],
    "comma-dangle": [
      "error",
      {
        "arrays": "always",
        "objects": "always",
        "imports": "ignore",
        "exports": "ignore",
        "functions": "ignore"
      }
    ]
  }
}
